<div id="category_list">
  <ul>
    <%= form_tag root_path %>
        <select name='category_id'>
          <%= @categories.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
          <%= submit_tag value='Search' %>
        </select>
  </ul>
</div>