<div id="product_list">
  <ul>
    <li><%= link_to 'Items on Sale', 'sale_filter.html.erb' %></li>
    <li><%= link_to 'Recently Added', 'new_filter.html.erb' %></li>
  </ul>
  <% if @products.count > 0 %>
      <table>
        <thead>
        <tr>
          <td>Name</td>
          <td>Image</td>
          <td>Description</td>
          <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <% @products.each do |product| %>
            <tr>
              <td><%= link_to product.name, product %></td>
              <td><%= image_tag product.image.thumb.url %></td>
              <td><%= product.description %> <%= link_to 'Add to Cart', add_to_cart_path(:id => product.id) %></td>
              <td><%= number_to_currency product.price %></td>
            </tr>
        <% end %>
    <% end %>
    <%= paginate @products %>
    <%= page_entries_info @products %>
    </tbody>
  </table>
</div>