<p><%= link_to 'Home', root_path %></p>

<div id="individual_product">
    <h4><%= @product.name %></h4>
    <p>Category: <%= @product.category %></p>
    <p>Price: <%= number_to_currency @product.price %></p>
    <p><%= @product.description %></p>
</div>