<div id="individual_product">
    <h4><%= @product.name %></h4>
    <p>Category: <%= @product.category.name %></p>
    <p>Price: <%= number_to_currency @product.price %></p>
    <p><%= @product.description %></p>
    <p>Quantity Available: <%= @product.stock_quantity %></p>
</div>